@page
@model RazorPagesScheduleAppointment.Pages.ScheduleAppointmentModel
@{
}

<div class ="row">
  <div class="column">
  <iframe src="https://calendar.google.com/calendar/embed?height=460&wkst=1&bgcolor=%23616161&ctz=America%2FChicago&src=a2F0aGVyeW5ta251dHNvbkBsZXdpc3UuZWR1&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%2333B679&color=%230B8043" style="border:solid 1px #777" width="550" height="460" frameborder="0" scrolling="no"></iframe>
  </div>
  <div class = "column">
  <div class="card"  >
  <img src="\TheCleaningLadies\wwwroot\images\avatar2.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Katie K</b></h4>
    <p>Personal Home Cleaner</p>
    <p>My current hours are...</p>
    <button class="button button1">Schedule with me!</button>

  </div>
</div>
  </div>
  </div>

