@page
@using RazorPagesUser.Models
@model RazorPagesUser.Pages.KatiesButtonModel
@{    
    ViewData["Title"] = "KATIE";
}

<h1>Users</h1>
<form method="post" class="card p-3">
    <div class="row">
        <div asp-validation-summary="All"></div>
    </div>
    <div class="form-group mb-0 align-middle">
        <form method="post">
            <input name="nlocation"/>
            <input type="submit"/>
        </form>
    </div>
</form>
<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">User Name</th>
            <th scope="col">Location</th>
            <th scope="col">Schedule Appoitment</th>
        </tr>
    </thead>
            
        @foreach (var user in Model.users)
        {
            <tr>
                <td>@user.username</td>
                <td>@user.location</td>
                <tr>
                <td>
                    
                </td>
            </tr>
            </tr>
        }
</table>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}

