@page
@using RazorPagesUser.Models
@model RazorPagesUser.Pages.BuyerViewModel
@{    
    ViewData["Title"] = "KATIE";
}
<!--
 license
 Copyright 2019 Google LLC. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
-->
<h1> Looking for a cleaner? </h1>
<p> Pleast enter a city! <p>
<div class = "row">
  <div class="column">

<form method="post" class="card p-3">
    <div class="row">
        <div asp-validation-summary="All"></div>
    </div>
    <div class="form-group mb-0 align-middle">
        <form method="post">
            <input name="nlocation"/>
            <input type="submit"/>
        </form>
    </div>
</form>
<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">User Name</th>
            <th scope="col">Location</th>
        </tr>
    </thead>
            
        @foreach (var user in Model.users)
        {
            <tr>
                <td>@user.username</td>
                <td>@user.location</td>
                <tr>
                <td>
                    
                </td>
            </tr>
            </tr>
        }
</table>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
</div>

<div class= "column">

<div id="googleMap" style="width:80%;height:400px;"></div>

<script>
function myMap() {
var mapProp= {
  center:new google.maps.LatLng(41,88),
  zoom:5,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjYOkoQ5stObcKWAKAZBP1DjfztKIPW0Y&callback=myMap"></script>
</div>
</div>