@page
@model RazorPagesCashApp.Pages.CashAppModel
@{
}
<script src="https://web.squarecdn.com/v1/square.js"></script>

    <form id="payment-form">
      <input type="number" name="amount" placeHolder="amount" id="charge-amount" value>
      <div id="cash-app-pay"></div>
    </form>
      <button id="paynow">Donate</button>


