@page
@model RazorPagesEmilySucks.Pages.EmilySucksModel
@{
}

<form action="/actions.php">
  <label for="fname">State:</label><br>
  <input type="text" id="fname" name="fname" value="u"><br>
  <label for="lname">City:</label><br>
  <input type="text" id="lname" name="lname" value="suck"><br><br>
  <input type="submit" value="Submit">
</form>
</div>

<button onclick="Button_click">Click Me!</button>