@page
@model IndexModel
@{
    ViewData["Title"] = "The Cleaning Ladies - Home Page";
}
<link rel="stylesheet" href="/site.css">

<section class="banner">
    <div class="intro-text">
        <h1>
          <span class="Slogan"> Keep Your House Clean!</span>
        </h1>
        <br />
        <p>
          Need a clean house? <br />
          Don't have the time within your busy schedule to clean?
        </p>
        <a class="button" href="#">Learn More</a>
    </div>
    <div>
        <img src = "images/cleaningLady.png" width = "400" class = "cleaningLadyIMG">
    </div>
</section>
