@page
@using RazorPagesUser.Models
@model TheCleaningLadies.Pages.UpdateInformation
@{
    ViewData["Title"] = "Update Information";
}

<html>
    <head>

    </head>
    <body>
        <h1><span>Welcome @(Model.theUser.username)!</span></h1>
        <br>
        <h4>Update Information:</h4>
        <br>
        <form method="post">

            <p>Location:</p>
            <input name="nlocation" />

            <p>Card Number:</p>
            <input name="ncnumber" />

            <p>Card Date:</p>
            <input name="ncdate" />

            <p>Card CVV:</p>
            <input name="nccvv" />

            <p>Work radius from location (in miles)</p>
            <input name="narea" />

            <p> Email </p>
            <input name ="nemail" />

        <table>
            <tr>
                <th>Day</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
            <tr>
                <td>Monday</td>
                <td><input type="time" id="monday-start" name="mondayStart"></td>
                <td><input type="time" id="monday-end" name="mondayEnd"></td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td><input type="time" id="tuesday-start" name="tuesdayStart"></td>
                <td><input type="time" id="tuesday-end" name="tuesdayEnd"></td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td><input type="time" id="wednesday-start" name="wednesdayStart"></td>
                <td><input type="time" id="wednesday-end" name="wednesdayEnd"></td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td><input type="time" id="thursday-start" name="thursdayStart"></td>
                <td><input type="time" id="thursday-end" name="thursdayEnd"></td>
            </tr>
            <tr>
                <td>Friday</td>
                <td><input type="time" id="friday-start" name="fridayStart"></td>
                <td><input type="time" id="friday-end" name="fridayEnd"></td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td><input type="time" id="saturday-start" name="saturdayStart"></td>
                <td><input type="time" id="saturday-end" name="saturdayEnd"></td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td><input type="time" id="sunday-start" name="sundayStart"></td>
                <td><input type="time" id="sunday-end" name="sundayEnd"></td>
            </tr>
        </table>

            <input type="submit" />
        </form>

    </body>

</html>

<!--   
    do this for every day of the week
    
        <select id="cars" name="cars">
         <option value="volvo">6:00AM</option>
        <option value="saab">7:00AM</option>
        <option value="fiat">8:00AM</option>
        <option value="audi">9:00AM</option>
      </select

-->
